.additionally-list {
  @include no-list;
}

.additionally-list__item {
  padding-top: 14px;
  padding-bottom: 12px;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  color: $color-black-two;
  text-transform: uppercase;
  text-align: left;
}

.additionally-list__item label {
  position: relative;
  padding-left: 42px;
}

.additionally-list__item input + label::before {
  content: " ";
  position: absolute;
  left: 0;
  top: calc(50% - (30px / 2));
  width: 30px;
  height: 30px;
  border: 1px solid $color-grey-hvr;
  cursor: pointer;
}

.additionally-list__item input + label::after {
  content: " ";
  position: absolute;
  left: 6px;
  top: calc(50% - (20px / 2));
  width: 20px;
  height: 10px;
  border-top: 2px solid $color-green;
  border-right: 2px solid $color-green;
  transform: rotate(135deg);
  opacity: 0;
}

.additionally-list__item input:checked + label::after {
  opacity: 1;
}

.additionally-list__item input:disabled + label::before {
  cursor: not-allowed;
}

@media (min-width: $tablet-width) {
  .additionally-list {
    display: flex;
    flex-wrap: wrap;
  }

  .additionally-list__item {
    width: 283px;
    margin-bottom: 15px;

    &:not(:nth-child(2n)) {
      margin-right: 60px;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .additionally-list__item label {
    padding-left: 60px;
  }

  .additionally-list__item input + label::before {
    top: calc(50% - (40px / 2));
    width: 40px;
    height: 40px;
  }

  .additionally-list__item:hover input + label::before {
    border-color: $color-grey;
  }

  .additionally-list__item input + label::after {
    left: 6px;
    top: calc(50% - (25px / 2));
    width: 25px;
    height: 15px;
  }
}

@media (min-width: $desktop-width) {
  .additionally-list {
    justify-content: space-between;
    margin-bottom: 40px;
  }

  .additionally-list__item {
    margin: 0;

    &:not(:nth-child(2n)) {
      margin-right: 0;
    }
  }
}

