.advantage__title {
  margin-top: -3px;

  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
  color: $color-black;
  text-align: left;
}

.advantage__list {
  @include no-list;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  width: 100%;
}

.advantage__item {
  position: relative;
  display: flex;
  padding-left: 80px;
  margin-bottom: 26px;

  font-family: "Arial", sans-serif;
  text-align: left;

  &::before {
    content: " ";
    position: absolute;
    top: -2px;
    left: 0;

    width: 60px;
    height: 60px;

    background-color: $color-green;
    background-size: 39px auto;
    background-position: center;
  }

  &--leaf::before {
    background-image: url("../img/advantage-leaf@1x.png");
    background-repeat: no-repeat;
    background-size: 48px 46px;
  }

  &--powder::before {
    background-image: url("../img/advantage-powder@1x.png");
    background-repeat: no-repeat;
    background-size: 48px 47px;
  }

  &--dining::before {
    background-image: url("../img/advantage-dining@1x.png");
    background-repeat: no-repeat;
    background-size: 48px 45px;
  }

  &--clock::before {
    background-image: url("../img/advantage-clock@1x.png");
    background-repeat: no-repeat;
    background-size: 45px 45px;
  }
}

@media (min-width: $tablet-width) {
  .advantage__title {
    margin-top: 15px;

    font-size: 60px;
  }

  .advantage__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    counter-reset: list 0;
  }

  .advantage__item {
    padding-top: 134px;
    padding-bottom: 50px;
    padding-left: 0;
    margin-bottom: 60px;
    width: 246px;
    min-height: 63px;

    font-size: 16px;
    line-height: 24px;

    counter-increment: list;

    &:not(:nth-child(2n)) {
      margin-right: 138px;
    }

    &::before {
      top: 22px;

      width: 80px;
      height: 80px;
    }

    &::after {
      content: counter(list) " ";
      position: absolute;
      left: 113px;
      top: -17px;
      z-index: -1;

      width: 114px;
      height: 230px;

      font-family: "Oswald", sans-serif;
      font-size: 281px;
      line-height: 281px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      color: $color-grey-light;
    }
  }
}

// Desktop!!!!!!!!!

@media (min-width: $desktop-width) {
  .advantage__title {
    margin-top: -5px;
  }

  .advantage__item {
    &:not(:nth-child(4n)) {
      margin-right: 78px;
    }

    &:nth-child(3) {
      margin-right: 79px;
    }
  }
}
