.button {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  font-style: normal;
  color: $color-white;
  text-transform: uppercase;
  text-align: center;
  background-color: $color-green;
  padding-top: 14px;
  padding-right: 74px;
  padding-bottom: 11px;
  padding-left: 73px;

  &--arrow {
    font-size: 16px;
    line-height: 16px;
    text-align: left;
    color: $color-black;
  }

  &--buy {
    font-size: 16px;
    line-height: 20px;
    padding-top: 13px;
    padding-right: 108px;
    padding-bottom: 12px;
    padding-left: 111px;
  }

  &--send {
    border: none;
    font-size: 16px;
    line-height: 20px;
    padding-top: 13px;
    padding-right: 77px;
    padding-bottom: 11px;
    padding-left: 79px;
  }
}
