.catalog {
  display: flex;
}

.catalog__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
  text-align: left;
  color: $color-black;
}

.catalog__list {
  @include no-list;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.catalog__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.catalog__product {
  width: 72px;

  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  color: $color-black;

  &--last {
    position: relative;
    padding-top: 45px;
    margin: 15px auto;
    width: 204px;

    text-align: center;
    text-transform: uppercase;

    &::before {
      content: " ";
      position: absolute;
      left: 90px;
      top: 12px;

      width: 31px;
      height: 2px;

      background-color: $color-black-two;
      opacity: 0.2;
      transform: rotate(90deg);
    }

    &::after {
      content: " ";
      position: absolute;
      left: 90px;
      top: 12px;

      width: 31px;
      height: 2px;

      background-color: $color-black-two;
      opacity: 0.2;
      transform: rotate(180deg);
    }
  }
}

.catalog__img {
  display: flex;
}

.catalog__can {
  display: block;
}

.catalog__inner {
  display: flex;

  &--last {
    display: block;
  }
}

.catalog__description {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 139px;
}

.catalog__info {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.catalog__field {
  text-align: left;
}

.catalog__value {
  text-align: right;
}

.catalog__button {
  display: block;
  position: relative;

  &::after {
    content: " ";
    position: absolute;
    left: -20px;
    right: 0;
    top: 70px;

    width: 320px;
    height: 1px;

    background-color: $color-grey-hr;
  }
}

.catalog__paragraph {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .catalog {
    flex-wrap: wrap;
  }

  .catalog__title {
    font-size: 60px;
  }

  .catalog__list {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .catalog__item {
    flex-direction: column;
    margin-bottom: 100px;
    min-width: 248px;

    &:not(:nth-child(2n)) {
      margin-right: 45px;
    }
  }

  .catalog__button {
    &::after {
      @include no-outline;
    }
  }

  .catalog__wrapper {
    padding-right: 37px;
    padding-bottom: 40px;
    padding-left: 37px;
    width: 324px;

    background-color: $color-grey-light;

    &--last {
      padding-top: 70px;

      background-color: yellowgreen;
    }
  }

  .catalog__inner {
    flex-direction: column;
    align-items: center;
  }

  .catalog__product {
    width: 124px;

    font-size: 20px;
    text-align: center;

    &--last {
      margin-bottom: 28px;
      width: 134px;

      &::before {
        left: calc(50% - (61px / 2));
        top: -30px;

        width: 61px;
        height: 2px;

        background-color: $color-black-two;
        opacity: 0.2;
      }

      &::after {
        left: calc(50% - (61px / 2));
        top: -30px;

        width: 61px;
        height: 2px;

        background-color: $color-black-two;
        opacity: 0.2;
      }
    }
  }

  .catalog__info {
    margin-bottom: 33px;
    width: 249px;

    font-size: 16px;

    border-collapse: collapse;
  }

  .catalog__info td {
    padding: 10px 0;

    border-bottom: 1px solid $color-grey-hvr;
  }

  .catalog__description {
    width: 249px;
    align-items: center;
  }

  .catalog__can {
    display: block;
    margin-top: -35px;

    &--big {
      margin-top: -60px;
    }
  }

  .catalog__paragraph {
    text-align: center;
    margin-bottom: 70px;
    margin-left: 40px;
    width: 167px;

    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__info {
    width: 169px;
  }

  .catalog__description {
    width: 169px;
  }

  .catalog__paragraph {
    margin-left: 5px;
  }

  .catalog__item {
    max-width: 245px;

    &:not(:nth-child(4n)) {
      margin-right: 76px;
    }
  }

  .catalog__wrapper {
    width: 245px;
  }


  .catalog__inner {
    width: 167px;
  }
}
