.catalog {
  display: flex;
}

.catalog__title {
  position: relative;
  margin-top: 16px;
  margin-bottom: 14px;

  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
  color: $color-black;
  text-align: left;

  &::before {
    content: " ";
    position: absolute;
    left: -20px;
    right: 0;
    top: 88px;

    width: 320px;
    height: 1px;

    background-color: $color-grey-hr;
  }
}

.catalog__list {
  @include no-list;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.catalog__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

.catalog__product {
  margin-top: 21px;
  margin-bottom: 10px;
  width: 74px;

  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;
  color: $color-black;

  &--last {
    position: relative;
    padding-top: 52px;
    margin: 0 auto;
    margin-top: 28px;
    width: 204px;

    text-align: center;
    text-transform: uppercase;

    &::before {
      content: " ";
      position: absolute;
      left: calc(50% - (31px / 2));
      top: 12px;

      width: 31px;
      height: 2px;

      background-color: $color-black-two;
      opacity: 0.2;
      transform: rotate(90deg);
    }

    &::after {
      content: " ";
      position: absolute;
      left: calc(50% - (31px / 2));
      top: 12px;

      width: 31px;
      height: 2px;

      background-color: $color-black-two;
      opacity: 0.2;
      transform: rotate(180deg);
    }
  }
}

.catalog__img {
  display: flex;
}

.catalog__can {
  display: block;
}

.catalog__inner {
  display: flex;

  &--last {
    display: block;
  }
}

.catalog__description {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 139px;
}

.catalog__info {
  width: 143px;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 16px;

  border-spacing: 0;
}

.catalog__field {
  text-align: left;
}

.catalog__value {
  text-align: right;
}

.catalog__button {
  display: block;
  position: relative;

  &::after {
    content: " ";
    position: absolute;
    left: -20px;
    right: 0;
    top: 64px;

    width: 320px;
    height: 1px;

    background-color: $color-grey-hr;
  }
}

.catalog__paragraph {
  margin-top: 7px;
  margin-bottom: 20px;

  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .catalog {
    flex-wrap: wrap;
  }

  .catalog__title {
    margin-top: 37px;
    margin-bottom: 150px;

    font-size: 60px;

    &::before {
      @include no-outline;
    }
  }

  .catalog__list {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .catalog__item {
    flex-direction: column;
    margin-bottom: 124px;
    min-width: 248px;

    &:not(:nth-child(2n)) {
      margin-right: 60px;
    }

    &:nth-child(5) {
      margin-bottom: 122px;
    }

    &:nth-child(7),
    &:nth-child(8) {
      margin-bottom: 50px;
    }
  }

  .catalog__button {
    margin-left: 37px;
    margin-right: 35px;

    &::after {
      @include no-outline;
    }
  }

  .catalog__wrapper {
    padding-bottom: 40px;

    background-color: $color-grey-light;

    &--last {
      position: relative;
      width: 324px;
      min-height: 429px;
      padding-top: 101px;

      background-color: $color-white;
      border: 1px solid $color-grey-hvr;
    }
  }

  .catalog__inner {
    flex-direction: column;
    align-items: center;
  }

  .catalog__product {
    margin-bottom: 17px;
    width: 145px;

    font-size: 20px;
    text-align: center;

    &--last {
      padding: 0;
      margin-top: 61px;
      margin-bottom: 28px;
      width: 134px;

      &::before {
        left: calc(50% - (61px / 2));
        top: -80px;

        width: 61px;
        height: 2px;

        background-color: $color-black-two;
        opacity: 0.2;
      }

      &::after {
        left: calc(50% - (61px / 2));
        top: -80px;

        width: 61px;
        height: 2px;

        background-color: $color-black-two;
        opacity: 0.2;
      }
    }
  }

  .catalog__info {
    margin-bottom: 32px;
    width: 249px;

    font-size: 16px;

    border-collapse: collapse;
  }

  .catalog__info td {
    padding: 8px 0;

    border-bottom: 1px solid $color-grey-hvr;
  }

  .catalog__description {
    width: 249px;
    align-items: center;
  }

  .catalog__can {
    display: block;
    margin-top: -46px;
    margin-bottom: 16px;

    &--big {
      margin-top: -82px;
    }
  }

  .catalog__paragraph {
    text-align: center;
    margin-bottom: 88px;
    margin-left: 78px;
    width: 167px;

    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__title {
    margin-top: 54px;
  }

  .catalog__info {
    width: 169px;
  }

  .catalog__description {
    width: 169px;
  }

  .catalog__paragraph {
    margin-left: 40px;
  }

  .catalog__item {
    max-width: 245px;

    &:not(:nth-child(4n)) {
      margin-right: 76px;
    }

    &:nth-child(5),
    &:nth-child(6) {
      margin-bottom: 50px;
    }
  }

  .catalog__wrapper {
    width: 247px;
  }
}
