.choice-of-programme {
  display: block;
}

.choice-of-programme__title {
  margin-top: 22px;
  margin-bottom: 25px;

  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
  color: $color-black;
  text-align: left;
}

.choice-of-programme__paragraph {
  margin-bottom: 39px;

  color: $color-black;
  text-align: left;
  text-transform: uppercase;
}

.choice-of-programme__form {
  display: block;
}

.choice-of-programme__nota-bene {
  position: relative;
  margin-top: 20px;
  margin-right: -9px;
  margin-bottom: 32px;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

.choice-of-programme__nota-bene sup {
  position: absolute;
  left: 63px;
}

@media (min-width: $tablet-width) {
  .choice-of-programme__title {
    margin-top: 43px;
    margin-bottom: 55px;

    font-size: 60px;
  }

  .choice-of-programme__paragraph {
    margin-left: 40px;
    margin-bottom: 69px;

    font-size: 20px;
    line-height: 30px;
  }

  .choice-of-programme__nota-bene {
    padding-top: 6px;
    font-size: 16px;
  }

  .choice-of-programme__nota-bene sup {
    position: absolute;
    left: -11px;
  }
}

@media (min-width: $desktop-width) {
  .choice-of-programme__paragraph {
    margin-left: 0;
  }
}
