.choice-of-programme {
  display: block;
}

.choice-of-programme__title {
  margin-top: 16px;
  margin-bottom: 25px;

  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
  color: $color-black;
  text-align: left;
}

.choice-of-programme__paragraph {
  margin-bottom: 39px;

  color: $color-black;
  text-align: left;
  text-transform: uppercase;
}

.choice-of-programme__form {
  display: block;
}

.choice-of-programme__button {
  display: flex;
  width: 280px;
}

.choice-of-programme__nota-bene {
  position: relative;
  margin-top: 20px;
  margin-right: -9px;
  margin-bottom: 32px;

  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  sup {
    position: absolute;
    left: 63px;
  }
}

@media (min-width: $tablet-width) {
  .choice-of-programme__title {
    margin-top: 37px;
    margin-bottom: 55px;

    font-size: 60px;
  }

  .choice-of-programme__paragraph {
    margin-left: 40px;
    margin-bottom: 69px;

    font-size: 20px;
    line-height: 30px;
  }

  .choice-of-programme__send {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 61px;
    width: 630px;
    min-height: 52px;
  }

  .choice-of-programme__button {
    margin-left: 41px;
    margin-right: 72px;
    width: 283px;
  }

  .choice-of-programme__nota-bene {
    padding-top: 6px;
    font-size: 16px;

    sup {
      left: -11px;
    }
  }
}

@media (min-width: $desktop-width) {
  .choice-of-programme__title {
    margin-top: 54px;
  }

  .choice-of-programme__paragraph {
    margin-left: 0;
  }

  .choice-of-programme__button {
    width: 568px;
    margin-left: 0;
    margin-right: 94px;
  }

  .choice-of-programme__send {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 71px;
    width: 100%;
    min-height: 52px;
  }
}
