.contacts {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $color-white;
  padding: 15px 20px;

  &--no-index {
    background-color: $color-grey-light;
  }
}

.contacts__invitation {
  width: 124px;
  font-size: 16px;
  line-height: 20px;
  color: $color-black;
  text-transform: uppercase;
  text-align: left;
  padding-right: 19px;
}

.contacts__address {
  width: 135px;
  font-family: "Arial", sans-serif;
  line-height: 20px;
  text-align: left;
}

@media (min-width: $tablet-width) {
  .contacts {
    display: flex;
    min-height: 76px;
    justify-content: space-between;
    align-items: center;
    background-color: $color-white;
    padding-top: 69px;
    padding-right: 72px;
    padding-bottom: 62px;
    padding-left: 71px;

    &--no-index {
      background-color: $color-grey-light;
    }
  }

  .contacts__invitation {
    width: 173px;
    font-size: 20px;
    line-height: 25px;
    margin: 0;
  }

  .contacts__address {
    width: 155px;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    padding: 0;
  }

  .contacts__address span {
    display: block;
    padding-top: 15px;
  }
}
