.contacts__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 28px;
  padding-bottom: 26px;

  background-color: $color-white;

  &--no-index {
    background-color: $color-grey-light;
  }
}

.contacts__invitation {
  width: 143px;
  margin: 0;

  font-size: 16px;
  line-height: 20px;
  color: $color-black;
  text-transform: uppercase;
  text-align: left;
}

.contacts__address {
  width: 136px;
  margin: 0;
  margin-right: 2px;

  font-family: "Arial", sans-serif;
  line-height: 20px;
  text-align: left;
}

@media (min-width: $tablet-width) {
  .contacts__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 69px;
    padding-bottom: 62px;
    min-height: 76px;
  }

  .contacts__invitation {
    width: 173px;
    margin: 0;

    font-size: 20px;
    line-height: 25px;
  }

  .contacts__address {
    width: 155px;
    padding: 0;

    font-size: 16px;
    text-align: right;
  }

  .contacts__address span {
    display: block;
    padding-top: 15px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__container {
    &--no-index {
      background-color: $color-white;
    }
  }

  .contacts__address {
    text-align: left;
  }
}
