.copyright {
  position: relative;
  display: flex;
  margin-top: 21px;
  margin-bottom: 31px;
}

.copyright__text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
}

.copyright__icon {
  position: absolute;
  top: -16px;
  right: -6px;

  width: 39px;
  height: 47px;

  fill: $color-grey-darken;
}

@media (min-width: $tablet-width) {
  .copyright {
    width: 162px;
    padding: 0;
  }

  .copyright__text {
    text-align: right;

    &:active {
      opacity: 0.3;
    }
  }

  .copyright__icon {
    top: -12px;
    right: -4px;

    &:hover {
      fill: $color-green;
    }

    &:active {
      fill: $color-green;
      opacity: 0.3;
    }
  }
}
