.copyright {
  position: relative;
  display: flex;
  padding: 31px 0;
}

.copyright__text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
}

.copyright__icon {
  position: absolute;
  top: 25px;
  right: 0;
  width: 27px;
  height: 34px;
  fill: $color-grey-darken;
}

@media (min-width: $tablet-width) {
  .copyright {
    padding: 0;
    width: 162px;
  }

  .copyright__text {
    text-align: right;

    &:active {
      opacity: 0.3;
    }
  }

  .copyright__icon {
    top: -8px;
    right: -4px;

    &:hover {
      fill: $color-green;
    }

    &:active {
      fill: $color-green;
      opacity: 0.3;
    }
  }
}
