.example {
  background-color: $color-grey-light;
}

.example__title {
  padding-top: 17px;
  margin-top: 20px;
  margin-bottom: 23px;

  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
  text-align: left;
  color: $color-black;
}

.example__paragraph {
  margin-bottom: 25px;
  width: 274px;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  text-align: left;
}

.example__paragraph span {
  text-transform: capitalize;
}

.example__field {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.example__number {
  padding-top: 13px;
  padding-right: 42px;
  padding-bottom: 16px;
  padding-left: 43px;

  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  color: $color-black;
  text-align: center;
  text-transform: uppercase;

  border: 1px solid $color-grey-hvr;

  &--day {
    padding-right: 23px;
    padding-left: 19px;
  }
}

.example__description {
  padding: 0 15px;
  margin-top: -8px;
  width: 85px;

  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: normal;
  text-align: center;

  background-color: $color-grey-light;
}

.example__money {
  margin-top: 7px;
  margin-bottom: 35px;

  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  color: $color-black;
  text-align: center;
  text-transform: uppercase;
}

.example__point {
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  color: $color-black;
  text-align: left;
  text-transform: uppercase;

  &--after {
    text-align: right;
  }
}

.example__result {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.example__spend {
  flex-grow: 1;
}

.example__img {
  position: static;
  margin-left: -21px;
  width: 114%;

  img {
    position: static;
  }
}

.example__img--after {
  display: none;
}

.example__button {
  position: relative;
  margin: 0 17px;

  width: 84px;
  height: 14px;

  border: 1px solid $color-grey-hvr;
  border-radius: 6px;
  background-color: $color-white;
  cursor: pointer;

  &::before {
    position: absolute;
    content: " ";
    top: calc(50% - (6px / 2));
    left: 6px;

    width: 35px;
    height: 6px;

    border-radius: 3px;
    background-color: $color-green;
  }
}

.example__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 21px;
  margin-top: 12px;
}


@media (min-width: $tablet-width) {
  .example {
    position: relative;
    z-index: 1;

    background-color: $color-white;

    &::before,
    &::after {
      position: absolute;
      content: " ";
      z-index: -1;
      bottom: 0;

      width: 50%;
      height: 300px;
    }

    &::before {
      left: 0;

      background-color: $color-grey-light;
    }

    &::after {
      right: 0;

      background-color: red;
    }
  }

  .example__title {
    font-size: 60px;
  }

  .example__paragraph {
    width: 684px;

    font-size: 16px;
    line-height: 24px;
  }

  .example__field {
    margin-right: 42px;
  }

  .example__number {
    padding-top: 22px;
    padding-right: 58px;
    padding-bottom: 24px;
    padding-left: 57px;

    font-size: 30px;
    line-height: 37px;

    &--day {
      padding-right: 31px;
      padding-left: 32px;
    }
  }

  .example__description {
    width: 157px;

    font-size: 14px;
    line-height: 14px;

    background-color: $color-white;
  }

  .example__money {
    font-size: 20px;
    text-align: right;
  }

  .example__money span {
    display: block;
    padding-top: 10px;
  }

  .example__point {
    width: 45px;
    padding-bottom: 6px;

    font-size: 20px;

    border-bottom: 1px dotted rgba($color-black, 0.23);

    &--after {
      width: 49px;
    }
  }

  .example__point:hover {
    border-bottom: 1px solid rgba($color-black, 0.4);
  }

  .example__point:active {
    border-bottom: 1px solid transparent;
  }

  .example__slider {
    position: relative;

    width: 650px;
    height: 517px;
  }

  .example__img {
    position: absolute;
    overflow: hidden;
    top: 0;
    bottom: 0;

    width: 50%;

    &--before {
      left: -40px;

      width: 61%;

      img {
        left: 55px;
      }
    }

    &--after {
      display: block;
      right: -49px;

      width: 53%;

      img {
        right: -9px;
      }
    }
  }

  .example__img img {
    position: absolute;
    display: block;
    top: 0;

    max-width: none;
    height: auto;
  }

  .example__controls {
    padding-bottom: 20px;
  }

  .example__scale {
    margin: 0 23px;
    width: 428px;
    height: 6px;

    border-radius: 2.5px;
    background-color: $color-grey-hvr;
  }

  .example__button {
    margin: 0;
    top: calc(50% - (34px / 2));
    left: calc(50% - (34px / 2));

    width: 34px;
    height: 34px;

    background-color: $color-white;
    border-radius: 50%;
    border: 1px solid $color-grey-hvr;
    box-shadow: 0 2px 5px 0 $color-shadow;
    cursor: pointer;

    &::before {
      top: calc(50% - (8px / 2));
      left: calc(50% - (8px / 2));

      width: 8px;
      height: 8px;

      border-radius: 50%;
    }
  }
}

.example__button:hover {
  box-shadow: 0 3px 5px 0 $color-shadow-hvr;
}

.example__button:active {
  border: 2px solid $color-green;
  box-shadow: 0 4px 5px 0 $color-shadow-down;
}

@media (min-width: $desktop-width) {
  .example__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .example {
    position: relative;
    z-index: 1;

    background-color: $color-white;

    &::before,
    &::after {
      content: " ";
      position: absolute;
      z-index: -1;
      bottom: 0;

      height: 462px;
    }

    &::before {
      left: 0;

      width: 72.5%;

      background-color: $color-grey-light;
    }

    &::after {
      right: 0;

      width: 27.5%;

      background-color: red;
    }
  }

  .example__paragraph {
    width: 430px;
  }

  .example__box {
    margin-right: 0;
    width: 430px;

    &--cat {
      width: 630px;
    }
  }

  .example__img {
    position: absolute;
    overflow: hidden;
    top: 0;
    bottom: 0;

    width: 50%;

    &--before {
      left: 0;

      width: 45%;

      img {
        left: 0;
      }
    }

    &--after {
      display: block;
      right: 0;

      width: 55%;

      img {
        right: 0;
      }
    }
  }

  .example__spend {
    flex-grow: 0;
  }

  .example__money span {
    display: inline;
    padding-top: 0;
    padding-left: 42px;
  }
}
