.form {
  display: flex;
  flex-direction: column;
}

.form__item {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;

  border: none;

  &--contact {
    margin-bottom: -20px;
  }

  &--comment {
    margin-bottom: 20px;
  }

  &--additionally {
    margin-bottom: 31px;
  }
}

.form__paragraph {
  display: flex;
  align-items: baseline;
  margin-top: 0;
  margin-bottom: 14px;
  width: 100%;

  &--age {
    margin-bottom: 0;
  }
}

.form__contact {
  position: relative;
  display: flex;
  align-items: baseline;
  width: 100%;
}

.form__item label {
  flex-shrink: 0;

  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  color: $color-black-two;
  text-align: left;
  text-transform: uppercase;
}

.form__label {
  margin-right: 15px;
  margin-left: 0;

  &--contact {
    margin-right: 11px;
  }
}

.form__input {
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  padding-top: 15px;
  padding-right: 45px;
  padding-bottom: 15px;
  padding-left: 16px;

  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  border: 1px solid rgba($color-grey-hvr, 0.5);

  &:hover {
    border-color: $color-grey-hvr;
  }

  &:active {
    border-color: $color-grey-dark;
    box-shadow: 0 0 0 1px $color-grey-dark;
  }

  &:invalid {
    border-color: $color-error;
    box-shadow: 0 0 0 1px $color-error;
  }
}

.form__input::placeholder {
  color: $color-grey-dark;
}

.form__item textarea {
  box-sizing: border-box;
  width: 100%;
  height: 150px;
  padding-top: 13px;
  padding-left: 13px;
  resize: none;

  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  border: 1px solid rgba($color-grey-hvr, 0.5);
}

.form__legend {
  position: relative;
  padding-top: 5px;
  margin-left: -1px;
  margin-bottom: 20px;
  width: 100%;

  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  color: $color-black;
  text-align: left;

  &--line-comment {
    padding-top: 35px;
    margin-bottom: 34px;
  }

  &--line-additionally {
    margin-bottom: 27px;
  }

  &--line-contact::after {
    content: "";
    position: absolute;
    right: -20px;
    top: 19px;

    width: 99px;
    height: 3px;

    background-color: $color-green;
  }

  &--line-comment::after {
    content: "";
    position: absolute;
    right: -20px;
    top: 48px;

    width: 158px;
    height: 3px;

    background-color: $color-green;
  }

  &--line-additionally::after {
    content: "";
    position: absolute;
    right: -20px;
    top: 19px;

    width: 136px;
    height: 3px;

    background-color: $color-green;
  }
}

.form__button {
  display: flex;
  width: 280px;
}

.form__icon {
  position: absolute;
  top: 16px;
  left: auto;
  right: 15px;

  width: 18px;
  height: 14px;

  fill: $color-black-two;

  &--tel {
    top: 13px;

    width: 21px;
    height: 21px;
  }
}

.form__input:hover + .form__icon {
  fill: $color-grey-hvr;
}

.form__input:active + .form__icon {
  fill: $color-green;
}

.form__input:invalid + .form__icon {
  fill: $color-error;
}


@media (min-width: $tablet-width) {
  .form__legend {
    padding-top: 30px;
    padding-bottom: 30px;

    font-size: 36px;
    line-height: 36px;

    &::before {
      content: "";
      position: absolute;
      left: -72px;
      top: 52px;

      width: 30px;
      height: 3px;

      background-color: $color-green;
    }

    &--line-contact::after {
      right: -67px;
      top: 52px;

      width: 150px;
    }

    &--line-comment::after {
      right: -67px;
      top: 52px;

      width: 470px;
    }

    &--line-additionally::after {
      right: -67px;
      top: 52px;

      width: 440px;
    }
  }

  .form__item label {
    font-size: 20px;
    line-height: 20px;
  }

  .form__send {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 72px;
    width: 630px;
    min-height: 52px;
  }

  .form__item {
    padding-right: 37px;
    padding-left: 42px;

    &--goal {
      display: flex;
      padding: 25px 28px;
      margin-left: 37px;
      width: 630px;

      border: 1px solid $color-grey-hvr;
      // opacity: 0.5;
    }
  }

  .form__item textarea {
    min-height: 174px;
  }
}

@media (min-width: $desktop-width) {
  .form__wrapper {
    display: flex;
    margin-bottom: 70px;
  }

  .form__item {
    width: 100%;
    margin-bottom: 0;

    &:not(:nth-child(2)) {
      padding: 0;
    }

    &--goal {
      padding-bottom: 10px;
      margin: 0;
      margin-left: 80px;
    }

    &--contact {
      padding-right: 0;
      padding-left: 0;
    }
  }

  .form__inner {
    display: flex;
    margin-bottom: 70px;
  }

  .form__contact {
    width: 100%;

    &:not(:nth-child(2)) {
      margin-right: 78px;
    }
  }

  .form__button {
    width: 568px;
    margin-right: 82px;
  }

  .form__send {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 82px;
    width: 100%;
    min-height: 52px;
  }
}
