.form {
  display: flex;
  flex-direction: column;
}

.form__item {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;

  border: none;

  &--contact {
    margin-bottom: 15px;
  }

  &--comment {
    margin-bottom: 26px;
  }

  &--additionally {
    margin-bottom: 31px;
  }
}

.form__paragraph {
  display: flex;
  align-items: baseline;
  margin-top: 0;
  margin-bottom: 14px;
  width: 100%;

  &--age {
    margin-bottom: 0;
  }

  &--email {
    position: relative;
  }

  &--tel {
    position: relative;
  }
}


.form__item label {
  flex-shrink: 0;

  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  color: $color-black-two;
  text-align: left;
  text-transform: uppercase;
}

.form__label {
  position: relative;
  margin-right: 21px;
  margin-left: 0;

  &--age {
    margin-right: 16px;
  }

  &--contact {
    margin-right: 17px;
  }
}

.form__label sup {
  position: absolute;
}

.form__input {
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  height: 45px;
  padding-top: 15px;
  padding-right: 45px;
  padding-bottom: 15px;
  padding-left: 13px;

  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  border: 1px solid rgba($color-grey-hvr, 0.5);

  &:hover {
    border-color: $color-grey-hvr;
  }

  &:active {
    border-color: $color-grey-dark;
    box-shadow: 0 0 0 1px $color-grey-dark;
  }

  &:invalid {
    border-color: $color-error;
    box-shadow: 0 0 0 1px $color-error;
  }

  &--weight {
    padding-left: 17px;
  }

  &--age {
    padding-left: 15px;
  }

  &--email {
    padding-left: 15px;
  }

  &--tel {
    padding-left: 13px;
  }
}

.form__input::placeholder {
  color: $color-grey-dark;
  opacity: 1;
}

.form__item textarea {
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  height: 150px;
  padding-top: 13px;
  padding-right: 13px;
  padding-left: 13px;
  resize: none;

  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  border: 1px solid rgba($color-grey-hvr, 0.5);
}

.form__wrapper {
  margin-bottom: 5px;
}

.form__legend {
  position: relative;
  margin-left: -2px;

  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  color: $color-black;
  background-color: $color-white;
  text-align: left;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 14px;

    width: 100vw;
    height: 3px;

    background-color: $color-green;
  }

  &--line-contact {
    width: 203px;
    margin-bottom: 33px;
  }

  &--line-comment {
    width: 145px;
    margin-bottom: 34px;
  }

  &--line-additionally {
    width: 167px;
    margin-bottom: 27px;
  }
}

.form__button {
  display: flex;
  width: 280px;
}

.form__icon {
  position: absolute;
  top: 16px;
  left: auto;
  right: 13px;

  width: 25px;
  height: 14px;

  fill: $color-black-two;

  &--tel {
    top: 13px;

    width: 21px;
    height: 21px;
  }
}

.form__input:hover + .form__icon {
  fill: $color-grey-hvr;
}

.form__input:active + .form__icon {
  fill: $color-green;
}

.form__input:invalid + .form__icon {
  fill: $color-error;
}

@media (min-width: $tablet-width) {
  .form__legend {
    position: relative;

    font-size: 36px;
    line-height: 36px;

    &::before {
      top: 22px;
      right: 0;
    }

    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      top: 22px;
      left: 0;

      width: 100vw;
      height: 3px;

      background-color: $color-green;
    }

    &--line-contact {
      width: 595px;
      padding-left: 42px;
      padding-right: 40px;
      margin-bottom: 79px;
    }

    &--line-comment {
      width: 261px;
      padding-left: 41px;
      padding-right: 40px;
      margin-bottom: 75px;
    }

    &--line-additionally {
      width: 294px;
      padding-left: 41px;
      padding-right: 40px;
      margin-bottom: 53px;
    }
  }

  .form__item {
    &--goal {
      display: flex;
      padding-top: 33px;
      padding-left: 31px;
      padding-bottom: 34px;
      margin-left: 37px;
      margin-bottom: 69px;
      width: 634px;

      border: 1px solid rgba($color-grey-hvr, 0.5);
    }

    &--contact {
      margin-bottom: 42px;
    }

    &--comment {
      margin-bottom: 63px;
    }

    &--additionally {
      margin-bottom: 15px;
    }
  }

  .form__item label {
    font-size: 20px;
    line-height: 20px;
  }

  .form__label {
    margin-right: 27px;
    margin-left: -2px;

    &--age {
      margin-right: 18px;
    }

    &--tel {
      margin-right: 20px;
    }
  }

  .form__input {
    padding-bottom: 17px;
    padding-left: 16px;
    height: 48px;

    font-size: 20px;
    line-height: 20px;

    &--weight {
      padding-left: 18px;
    }

    &--age {
      padding-left: 18px;
    }

    &--email {
      padding-left: 21px;
    }

    &--tel {
      padding-left: 20px;
    }
  }

  .form__paragraph {
    margin-bottom: 24px;
    margin-right: 37px;
    margin-left: 42px;
    width: 630px;
  }

  .form__send {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 61px;
    width: 630px;
    min-height: 52px;
  }

  .form__item textarea {
    margin-left: 40px;
    width: 630px;
    min-height: 174px;
    padding-top: 11px;
    padding-left: 19px;
    font-size: 20px;
    line-height: 30px;
  }

  .form__icon {
    right: 15px;
  }

  .form__button {
    margin-left: 41px;
    margin-right: 72px;
    width: 283px;
  }
}

@media (min-width: $desktop-width) {
  .form__legend {
    &::before {
      top: 22px;
      left: -107px;
      width: 68px;
    }

    &--line-contact {
      width: 555px;
      padding-left: 0;
    }

    &--line-comment {
      width: 221px;
      padding-left: 0;
    }

    &--line-additionally {
      width: 254px;
      padding-left: 0;
    }
  }

  .form__wrapper {
    display: flex;
    margin-bottom: 70px;
  }

  .form__item {
    width: 100%;
    margin-bottom: 0;

    &:not(:nth-child(2)) {
      padding: 0;
    }

    &--goal {
      padding-top: 31px;
      padding-left: 27px;
      padding-bottom: 10px;
      margin: 0;
      margin-left: 80px;
    }

    &--contact {
      padding-right: 0;
      padding-left: 0;
    }

    &--comment {
      margin-bottom: 65px;
    }
  }

  .form__inner {
    display: flex;
    margin-bottom: 44px;
  }

  .form__button {
    width: 568px;
    margin-left: 0;
    margin-right: 94px;
  }

  .form__send {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 71px;
    width: 100%;
    min-height: 52px;
  }

  .form__label {
    margin-left: 1px;
    margin-right: 26px;

    &--age {
      margin-right: 17px;
    }
  }

  .form__label sup {
    right: -8px;
    font-weight: 500;
  }

  .form__input {
    &--tel {
      padding-left: 16px;
    }
  }

  .form__icon {
    right: 17px;
  }

  .form__paragraph {
    margin-left: 0;
    margin-right: 0;
    width: 570px;

    &--age {
      margin-bottom: 0;
    }

    &--tel {
      margin-left: 76px;
    }
  }

  .form__item textarea {
    margin-left: 0;
    width: 100%;
  }
}
