.goal-list {
  @include no-list;
  display: flex;
  flex-direction: column;
}

.goal-list__item {
  position: relative;

  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  color: $color-black-two;
  text-transform: uppercase;
  text-align: left;

  &:not(:last-child) {
    margin-bottom: 25px;
  }

  &:first-child::before {
    content: " ";
    position: absolute;
    left: -20px;
    top: -27px;

    width: 320px;
    height: 1px;

    background-color: $color-grey-hr;
  }

  &:first-child::after {
    content: " ";
    position: absolute;
    left: -20px;
    top: 130px;

    width: 320px;
    height: 1px;

    background-color: $color-grey-hr;
  }
}

.goal-list__item label {
  position: relative;
  padding-left: 45px;
}

.goal-list__item input + label::before {
  content: " ";
  position: absolute;
  left: 0;
  top: calc(50% - (30px / 2));

  width: 30px;
  height: 30px;

  border: 1px solid $color-grey-hvr;
  border-radius: 50%;
  cursor: pointer;
}

.goal-list__item input + label::after {
  content: " ";
  position: absolute;
  left: 9px;
  top: calc(50% - (12px / 2));

  width: 12px;
  height: 12px;

  background-color: $color-green;
  border-radius: 50%;
  opacity: 0;
}

.goal-list__item input:checked + label::after {
  opacity: 1;
}


.goal-list__item input:disabled + label::before {
  cursor: not-allowed;
}

@media (min-width: $tablet-width) {
  .goal-list__item {
    @include no-outline;

    &:active {
      opacity: 0.3;
    }
  }

  .goal-list__item label {
    padding-left: 52px;
  }

  .goal-list__item input + label::before {
    left: 0;
    top: calc(50% - (40px / 2));

    width: 40px;
    height: 40px;

    border: 1px solid $color-grey-hvr;
  }

  .goal-list__item:hover input + label::before {
    border-color: $color-grey;
  }

  .goal-list__item input + label::after {
    left: 11px;
    top: calc(50% - (18px / 2));

    width: 18px;
    height: 18px;

    background-color: $color-green;
    opacity: 0;
  }
}
