.map {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;

  &::after {
    content: " ";
    position: absolute;
    z-index: 2;
    left: calc(50% - 55px / 2);
    top: 138px;

    width: 55px;
    height: 53px;

    background-image: url("../img/map-pin.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 362px;

    border: none;
  }
}

.map__img {
  width: 320px;
  height: 362px;
}

@media (min-width: $tablet-width) {
  .map {
    &::after {
      left: calc(50% - 113px / 2);
      top: 146px;

      width: 113px;
      height: 106px;
    }

    iframe {
      height: 395px;
    }
  }

  .map__img {
    width: 100%;
    height: 395px;
  }
}

@media (min-width: $desktop-width) {
  .map {
    &::after {
      left: calc(50% - -566px / 2);
      top: 150px;
    }

    iframe {
      height: 400px;
    }
  }

  .map__img {
    width: 100%;
    height: 400px;
  }
}
