.others-products {
  display: flex;
}

.others-products__title {
  position: relative;

  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  color: $color-black;
  text-align: left;

  &::after {
    content: "";
    position: absolute;
    right: -20px;
    top: 16px;

    width: 53px;
    height: 3px;

    background-color: $color-green;
  }
}

.others-products__list {
  @include no-list;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.others-products__item {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;

  border-bottom: 1px solid $color-grey-hvr;

  &:first-child {
    border-top: 1px solid $color-grey-hvr;
  }
}

.others-products__product {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  color: $color-black-two;
  text-align: left;
  text-transform: uppercase;
}

.others-products__info {
  width: 280px;
  margin-bottom: 14px;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
}

.others-products__field {
  text-align: left;
}

.others-products__value {
  text-align: right;
}

@media (min-width: $tablet-width) {
  .others-products__title {
    padding-left: 38px;

    font-size: 36px;
    line-height: 36px;

    &::before {
      content: "";
      position: absolute;
      left: -30px;
      top: 20px;

      width: 30px;
      height: 3px;

      background-color: $color-green;
    }

    &::after {
      width: 316px;
      right: -30px;
      top: 20px;
    }
  }

  .others-products__item {
    padding-top: 28px;
    padding-right: 38px;
    padding-bottom: 28px;
    padding-left: 38px;

    border-right: 1px solid $color-grey-hvr;
    border-left: 1px solid $color-grey-hvr;
  }

  .others-products__product {
    margin: 0;

    font-size: 20px;
    line-height: 20px;
  }

  .others-products__info {
    margin: 0;

    font-size: 16px;
    line-height: 20px;
  }

  .others-products__value {
    padding-left: 50px;
  }

  .others-products__more {
    display: flex;
    flex-direction: column;
  }

  .others-products__buy {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:first-child {
      margin-bottom: 25px;
    }
  }

  .others-products__button {
    padding-right: 287px;
    padding-left: 285px;
  }
}

@media (min-width: $desktop-width) {
  .others-products__more {
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-end;
  }

  .others-products__buy {
    &:first-child {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 0;
    }
  }

  .others-products__info {
    margin-right: 40px;
  }

  .others-products__wrapper {
    display: flex;
    justify-content: space-between;
    width: 1220px;
    margin-bottom: 80px;
  }

  .others-products__button {
    padding-right: 93px;
    padding-left: 91px;
  }

  .others-products__inner {
    &:not(:nth-child(2)) {
      width: 100%;
      margin-right: 80px;
    }
  }

  .others-products__item {
    padding-top: 15px;
    padding-right: 0;
    padding-bottom: 12px;
    padding-left: 0;

    border-right: 0;
    border-left: 0;
  }
}
