.others-products {
  position: relative;
  display: flex;
}

.others-products__title {
  position: relative;
  width: 248px;
  padding-right: 22px;
  margin-top: 44px;
  margin-bottom: 34px;

  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  color: $color-black;
  text-align: left;
  background-color: $color-white;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 14px;

    width: 100vw;
    height: 3px;

    background-color: $color-green;
  }
}

.others-products__list {
  @include no-list;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.others-products__item {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  padding-bottom: 26px;

  border-bottom: 1px solid $color-grey-hvr;

  &:first-child {
    border-top: 1px solid $color-grey-hvr;
  }
}

.others-products__product {
  margin-top: 13px;
  margin-bottom: 12px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  color: $color-black-two;
  text-align: left;
  text-transform: uppercase;
}

.others-products__info {
  width: 284px;
  margin-bottom: 25px;

  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 14px;

  border-spacing: 0;
}

.others-products__field {
  text-align: left;
}

.others-products__value {
  text-align: right;
}

.others-products__button {
  padding-top: 9px;
  padding-bottom: 7px;
}

@media (min-width: $tablet-width) {
  .others-products__title {
    position: relative;
    width: 413px;
    margin-top: 16px;
    margin-bottom: 80px;
    padding-right: 37px;
    padding-left: 37px;

    font-size: 36px;
    line-height: 36px;
    background-color: $color-white;

    &::before {
      top: 22px;
      right: 0;
    }

    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      top: 22px;
      left: 0;

      width: 100vw;
      height: 3px;

      background-color: $color-green;
    }
  }

  .others-products__item {
    padding-top: 25px;
    padding-right: 38px;
    padding-bottom: 25px;
    padding-left: 38px;

    border-right: 1px solid $color-grey-hvr;
    border-left: 1px solid $color-grey-hvr;
  }

  .others-products__product {
    margin: 0;
    margin-top: -3px;

    font-size: 20px;
    line-height: 20px;
  }

  .others-products__info {
    width: 227px;
    margin: 0;
    margin-right: -3px;
    padding-top: 4px;

    font-size: 16px;
    line-height: 20px;
  }

  .others-products__field {
    text-align: right;
  }

  .others-products__value {
    width: 92px;
  }

  .others-products__more {
    display: flex;
    flex-direction: column;
  }

  .others-products__buy {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:first-child {
      margin-bottom: 21px;
    }
  }

  .others-products__button {
    padding-right: 285px;
    padding-left: 285px;
    padding-bottom: 12px;
  }
}

@media (min-width: $desktop-width) {
  .others-products {
    margin-bottom: 5px;
  }

  .others-products__title {
    position: relative;
    width: 375px;
    margin-top: 25px;
    margin-bottom: 80px;
    padding-right: 35px;
    padding-left: 0;

    font-size: 36px;
    line-height: 36px;
    text-align: left;
    background-color: $color-white;

    &::before {
      top: 22px;
      left: -107px;
      width: 68px;
    }
  }

  .others-products__more {
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-end;
  }

  .others-products__buy {
    &:first-child {
      display: flex;
      justify-content: space-between;
      width: 650px;

      margin-bottom: 0;
    }
  }

  .others-products__product {
    padding-top: 6px;
  }

  .others-products__info {
    width: 290px;
    margin-top: 6px;
    margin-right: 35px;
  }

  .others-products__wrapper {
    display: flex;
    justify-content: space-between;
    width: 1220px;
    margin-bottom: 80px;
  }

  .others-products__button {
    padding-right: 93px;
    padding-left: 91px;
    padding-bottom: 10px;
  }

  .others-products__inner {
    &:not(:nth-child(2)) {
      width: 100%;
      margin-right: 80px;
    }
  }

  .others-products__item {
    padding-top: 15px;
    padding-right: 0;
    padding-bottom: 17px;
    padding-left: 0;

    border-right: 0;
    border-left: 0;
  }

  .others-products__field {
    text-align: left;
  }

  .others-products__value {
    &--water {
      padding-right: 10px;
    }
  }
}
