.page-footer {
  display: flex;
  flex-direction: column;
}

.page-footer__top {
  display: flex;
  flex-direction: column;

  &--no-index {
    background-color: $color-grey-light;
  }
}

.page-footer__contacts {
  display: flex;
}

.page-footer__map {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  background-color: $color-grey-light;
}

.page-footer__bottom {
  display: flex;
  background-color: $color-grey-light;
}

.page-footer__container {
  display: flex;
  flex-direction: column;

  background-color: $color-grey-light;
}

.page-footer__logo {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 36px;
  margin-bottom: 40px;

  background-color: $color-grey-light;
}

.page-footer__logo img {
  width: 128px;
  height: 24px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__social {
  display: flex;
  justify-content: center;
  min-height: 62px;
  margin-top: -9px;
  margin-bottom: 10px;
  padding-top: 0;

  background-color: $color-grey-light;
  border-top: 1px solid  rgba($color-grey-darken, 0.1);
  border-bottom: 1px solid  rgba($color-grey-darken, 0.1);
}

@media (min-width: $tablet-width) {
  .page-footer__bottom {
    display: flex;
  }

  .page-footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 26px;
    padding-bottom: 22px;

    background-color: $color-grey-light;
  }

  .page-footer__social {
    margin-left: 26px;
    border: none;
  }

  .page-footer__map {
    display: flex;

    background-color: $color-grey-light;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__top {
    position: relative;
    padding: 0;

    background-color: $color-grey-light;
  }

  .page-footer__contacts {
    position: absolute;
    display: block;
    width: 570px;
    min-height: 216px;
    z-index: 2;
    top: 50%;
    left: calc(50% - 1220px / 2);
    transform: translateY(-50%);

    &--index {
      min-height: 213px;
    }
  }

  .page-footer__map {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }

  .page-footer__container {
    padding-top: 24px;
    padding-bottom: 21px;
  }
}
