.page-footer {
  display: flex;
  flex-direction: column;
}

.page-footer__map {
  display: block;

  background-color: $color-grey-light;
}

.page-footer__top {
  margin: 0 auto;
}

.page-footer__bottom {
  display: flex;
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  width: 100%;

  background-color: $color-grey-light;
}

.page-footer__logo {
  display: flex;
  justify-content: center;
  margin-top: 36px;
  margin-bottom: 31px;

  background-color: $color-grey-light;
}

.page-footer__logo img {
  width: 128px;
  height: 24px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__social {
  background-color: $color-grey-light;
}

@media (min-width: $tablet-width) {
  .page-footer__bottom {
    display: flex;
  }

  .page-footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;

    background-color: $color-grey-light;
  }

  .page-footer__map {
    display: block;
    margin: 0 auto;
    padding: 0;

    background-color: $color-grey-light;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__top {
    position: relative;
    padding: 0;

    background-color: $color-grey-light;
  }

  .page-footer__contacts {
    position: absolute;
    display: block;
    width: 570px;
    z-index: 2;
    top: 50%;
    left: 110px;
    transform: translateY(-50%);
  }

  .page-footer__map {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }
}
