.page-header {
  position: relative;
  display: flex;
  flex-direction: column;

  &::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 100%;
    width: 320px;
    height: 305px;
    background-color: green;
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-repeat: no-repeat;
  }

  &--no-cat {
    @include no-outline;
  }
}

.page-header__logo {
  height: 39px;
  text-align: left;
  flex-direction: row;
}

.page-header__logo-img {
  &--mobile {
    display: block;
    margin-top: 11px;
    margin-bottom: 15px;
    margin-left: 20px;
    width: 191px;
    height: 39px;
  }

  &--tablet {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    &::after {
      display: none;
    }
  }

  .page-header__logo {
    height: 59px;
    text-align: left;
    margin-right: 93px;
  }

  .page-header__logo-img {
    &--mobile {
      display: none;
    }

    &--tablet {
      display: block;
      width: 174px;
      height: 59px;
    }
  }

  .page-header__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 25px 30px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    position: relative;
    display: flex;

    &::before {
      display: block;
      left: auto;
      right: 0;
      top: 0;
      width: 50%;
      height: 696px;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-size: 720px auto;
      background-position: right 0 bottom 0;
    }
  }
}
