.present {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 35px;
  background-color: $color-green;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 289px;

  &::before {
    content: " ";
    position: absolute;
    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
    top: 65px;
    width: 56px;
    height: 61px;
  }
}

.present__paragraph {
  width: 159px;
  margin-top: 190px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: $color-white;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .present {
    flex-direction: row;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    min-height: 200px;
    margin-bottom: 76px;

    &::before {
      left: 91px;
    }
  }

  .present__paragraph {
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 424px;
  }
}

@media (min-width: $desktop-width) {
  .present {
    background-image: url("../img/gift-photo-desktop@1x.png");
    width: 245px;
    height: 289px;
    margin: 0;
  }
}
