.programms {
  display: flex;
  margin: 0 auto;
  padding: 0;
}

.programms__article {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: 22px;
  margin-bottom: 20px;
  background-color: $color-grey-light;
  padding-top: 30px;
  padding-right: 36px;
  padding-bottom: 22px;
  padding-left: 21px;
}

.programms__title {
  display: block;
  position: relative;
  margin: 0;
  margin-bottom: 28px;
  padding-left: 70px;
  font-size: 24px;
  line-height: 37px;
  font-weight: normal;
  color: $color-black;
  text-align: left;
  text-transform: uppercase;

  &::before {
    content: " ";
    position: absolute;
    top: -5px;
    left: 1px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $color-green;
  }

  &--slim::after {
    content: " ";
    position: absolute;
    top: -8px;
    left: 10px;
    background-image: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
    width: 35px;
    height: 49px;
  }

  &--pro::after {
    content: " ";
    position: absolute;
    left: -9px;
    top: 5px;
    background-image: url("../img/icon-cat-pro.svg");
    background-repeat: no-repeat;
    width: 67px;
    height: 28px;
  }
}

.programms__paragraph {
  // position: relative;
  padding-bottom: 22px;
  margin: 0;
  margin-bottom: 19px;
  border-bottom: 1px solid rgba($color-grey-dark, $alpha: 0.1);
  width: 240px;
  font-family: "Arial", sans-serif;
  text-align: left;
}

.programms__paragraph span {
  text-transform: capitalize;
}

.programms__button {
  position: relative;
  text-transform: uppercase;

  &::after {
    content: " ";
    position: absolute;
    left: 95px;
    top: 2px;
    width: 25px;
    height: 12px;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
  }
}

.programms__button:hover {
  &::after {
    content: " ";
    position: absolute;
    left: 117px;
    top: 2px;
    width: 34px;
    height: 12px;
    background-image: url("../img/icon-right-arrow-verylong.svg");
    background-repeat: no-repeat;
  }
}

.programms__button:active {
  opacity: 0.3;

  &::after {
    content: " ";
    position: absolute;
    left: 117px;
    top: 2px;
    width: 34px;
    height: 12px;
    background-image: url("../img/icon-right-arrow-verylong.svg");
    background-repeat: no-repeat;
  }
}


@media (min-width: $tablet-width) {
  .programms__article {
    width: 708px;
    padding-top: 81px;
    padding-bottom: 62px;
    padding-left: 52px;
  }

  .programms__title {
    font-size: 36px;
    line-height: 37px;
    font-weight: normal;
    color: $color-black;
    text-align: left;
    text-transform: uppercase;
    padding-left: 0;
    margin: 0;
    margin-bottom: 26px;

    &::before {
      top: 10px;
      left: 390px;
      width: 200px;
      height: 200px;
    }

    &--slim::after {
      left: 420px;
      width: 141px;
      height: 194px;
    }

    &--pro::after {
      left: 358px;
      top: 65px;
      width: 268px;
      height: 113px;
    }
  }

  .programms__paragraph {
    width: 373px;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    text-align: left;
    border: none;
    padding: 0;
    margin: 0;
    margin-bottom: 61px;

    &--pro {
      width: 344px;
    }
  }

  .programms__button {
    &::after {
      left: 124px;
      top: 4px;
    }
  }
}

@media (min-width: $desktop-width) {
  .programms__container {
    display: flex;
    justify-content: space-between;
  }

  .programms__article {
    width: 570px;
    margin: 0;
    margin-bottom: 79px;

    &--slim {
      margin-right: 80px;
    }
  }

  .programms__title {
    padding-left: 165px;
    margin: 0;
    margin-bottom: 75px;

    &::before {
      top: -25px;
      left: 0;
      width: 100px;
      height: 100px;
    }

    &--slim::after {
      top: -28px;
      left: 13px;
      width: 71px;
      height: 97px;
    }

    &--pro::after {
      top: -1px;
      left: -18px;
      width: 134px;
      height: 57px;
    }
  }

  .programms__paragraph {
    width: 462px;
    margin-bottom: 61px;

    &--pro {
      width: 444px;
    }
  }
}
