.promo {
  display: block;
}

.promo__title {
  display: block;
  margin: 0;
  margin-top: 28px;
  margin-bottom: 24px;

  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  color: $color-white;
  text-align: center;
}

.promo__paragraph {
  display: block;
  margin: 0;
  margin-bottom: 31px;

  line-height: 14px;
  color: $color-white;
  text-align: center;
  text-transform: uppercase;
}

.promo__img {
  display: block;

  background-color: transparent;
}

.promo__button {
  display: block;
}

@media (min-width: $tablet-width) {
  .promo {
    background-image: none;
  }

  .promo__title {
    width: 416px;
    margin-top: 37px;
    margin-bottom: 41px;
    margin-left: 86px;

    font-size: 60px;
    line-height: 60px;
    font-weight: normal;
    color: $color-black;
    text-align: left;
  }

  .promo__paragraph {
    margin-bottom: 20px;
    margin-left: 89px;

    font-size: 20px;
    line-height: 20px;
    color: $color-black;
    text-transform: uppercase;
    text-align: left;
  }

  .promo__img {
    display: block;
    width: 709px;
    height: 609px;
  }

  .promo__container {
    position: relative;
  }

  .promo__button {
    position: absolute;
    top: 229px;
    left: 119px;
    z-index: 5;

    color: $color-white;
  }
}

@media (min-width: $desktop-width) {
  .promo__title {
    margin-top: 88px;
    margin-left: 81px;
  }

  .promo__paragraph {
    margin-bottom: 53px;
    margin-left: 80px;
  }

  .promo__container {
    position: relative;
    min-height: 555px;
  }

  .promo__img {
    position: absolute;
    top: -80px;
    right: 257px;
    width: 552px;
    height: 499px;
  }

  .promo__button {
    position: absolute;
    top: 234px;
    left: 120px;
    padding-right: 27px;
    padding-left: 27px;
  }
}
