.promo {
  display: block;
}

.promo__title {
  display: block;
  margin: 0;
  padding-top: 29px;
  padding-bottom: 20px;
  color: $color-white;
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  text-align: center;
}

.promo__paragraph {
  display: block;
  margin: 0;
  padding-bottom: 38px;
  color: $color-white;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
}

.promo__img {
  display: block;
  background-color: transparent;
}

.promo__button {
  display: block;
}

@media (min-width: $tablet-width) {
  .promo {
    background-image: none;
  }

  .promo__title {
    width: 414px;
    color: $color-black;
    font-size: 60px;
    line-height: 60px;
    font-weight: normal;
    text-align: left;
    margin-left: 91px;
  }

  .promo__paragraph {
    color: $color-black;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: left;
    margin-left: 89px;
  }

  .promo__img {
    display: block;
    width: 709px;
    height: 609px;
  }

  .promo__container {
    position: relative;
  }

  .promo__button {
    position: absolute;
    top: 250px;
    left: 119px;
    color: $color-white;
    z-index: 5;
  }
}
