.social__list {
  @include no-list;

  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 62px;

  &::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;

    width: 280px;
    height: 1px;

    background-color: $color-grey-darken;
    opacity: 0.1;
  }

  &::after {
    content: " ";
    position: absolute;
    left: 0;
    top: 62px;

    width: 280px;
    height: 1px;

    background-color: $color-grey-darken;
    opacity: 0.1;
  }
}

.social__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__icon {
  position: absolute;
  left: -67px;

  width: 22px;
  height: 12px;

  fill: $color-grey-darken;

  &--insta {
    left: -10px;

    width: 17px;
    height: 17px;
  }

  &--fb {
    left: 48px;

    width: 10px;
    height: 19px;
  }
}

@media (min-width: $tablet-width) {
  .social__list {
    @include no-outline;

    margin: 0;
    width: 125px;
  }

  .social__icon {
    width: 30px;
    height: 16px;

    &--insta {
      width: 23px;
      height: 23px;
    }

    &--fb {
      width: 14px;
      height: 28px;
    }

    &:hover {
      fill: $color-green;
    }

    &:active {
      opacity: 0.3;
      fill: $color-green;
    }
  }
}
