.social__list {
  @include no-list;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-right: 0;
  min-height: 62px;
}

.social__item {
  display: flex;
  align-self: center;
  position: relative;

  &:nth-child(3) {
    margin-top: -4px;
  }

  &:not(:nth-child(3n)) {
    margin-right: 35px;
    margin-bottom: 2px;
  }
}

.social__link {
  position: relative;
  align-self: center;
  width: 22px;
  height: 12px;

  &--insta {
    width: 17px;
    height: 17px;
  }

  &--fb {
    width: 10px;
    height: 19px;
  }
}

.social__icon {
  position: absolute;
  fill: $color-grey-darken;
}

@media (min-width: $tablet-width) {
  .social__list {
    margin: 0;
  }

  .social__item {
    &:first-child {
      margin-top: 9px;
    }

    &:nth-child(2) {
      margin-top: 3px;
    }
  }

  .social__icon {
    width: 30px;
    height: 16px;

    &--insta {
      width: 23px;
      height: 23px;
    }

    &--fb {
      width: 14px;
      height: 28px;
    }

    &:hover {
      fill: $color-green;
    }

    &:active {
      opacity: 0.3;
      fill: $color-green;
    }
  }
}
