$color-white: #ffffff;
$color-grey-light:#f2f2f2;
$color-grey:#bababa;
$color-grey-two: #ebebeb;
$color-grey-hr: #ededed;
$color-grey-dark: #444444;
$color-grey-darken: #666666;
$color-grey-hvr: #cdcdcd;
$color-black: #111111;
$color-black-two: #222222;
$color-down: rgba(34, 34, 34, 0.3);
$color-down-two: rgba(68, 68, 68, 0.3);
$color-down-three: rgba(17, 17, 17, 0.3);
$color-down-four: rgba(255, 255, 255, 0.3);
$color-hvr: rgba(255, 255, 255, 0.6);
$color-hvr-two: rgba(17, 17, 17, 0.6);
$color-shadow: rgba(0, 0, 0, 0.15);
$color-shadow-hvr: rgba(0, 0, 0, 0.25);
$color-shadow-down: rgba(0, 0, 0, 0.3);
$color-green: #68b738;
$color-green-hvr: #5eaa2f;
$color-error: #ff8282;

$tablet-width: 768px;
$mobile-width-only: 767px;
$desktop-width: 1300px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
